@import '_variables';

body {
  background: #FFF;
  line-height: 1.4;
}
.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
}
.title {
    font-size: 46px;
    @media #{$desktop} {
        font-size: 44px;
    }
    @media #{$tablet} {
        font-size: 35px;
        line-height: 50px;
    }
    @media #{$phone} {
        font-size: 35px;
    }
    @media #{$mobile} {
        font-size: 28px;
        padding: 20px 25px 0;
    }
}
.comment {
    font-size: 46px;
    @media #{$desktop} {
        font-size: 14px;
    }
    @media #{$tablet} {
        font-size: 11px;
    }
    @media #{$phone} {
        font-size: 12px;
    }
    @media #{$mobile} {
        font-size: 12px;
        letter-spacing: 2.1px;
    }
}
.list-title {
    font-size: 19px;
    @media #{$desktop} {
        font-size: 17px;
    }
    @media #{$tablet} {
        font-size: 14px;
    }
    @media #{$phone} {
        font-size: 12px;
    }
    @media #{$mobile} {
        font-size: 12px;
    }
}
.desc {
    font-size: 19px;
    line-height: 29px;
    @media #{$desktop} {
        font-size: 17px;
    }
    @media #{$tablet} {
        font-size: 14px;
        line-height: 24px;
    }
    @media #{$phone} {
        font-size: 12px;
    }
    @media #{$mobile} {
        font-size: 12px;
    }
}
.btn {
    display: inline-block;
    position: relative;
    border-radius: 115px;
    border: 1px solid $grey;
    background-color: transparent;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Avenir Black', sans-serif;
    font-weight: 900;
    letter-spacing: 0.59px;
    color: $black;
    margin-top: 0;
    text-align: center;
    padding: 20px 64px;
    overflow: hidden;
    z-index: 4;
    transition: color .4s, border-color .2s;
    @media #{$tablet} {
        padding: 14px 53px;
    }
    //@media #{$phone} {
    //    display: none;
    //}

}


