@mixin font($alias, $name) {
  @font-face {
    font-family: $alias;
    src: url("../fonts/" + $name + ".woff2") format("woff2"), url("../fonts/" + $name + ".woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
    @font-face {
        font-family: $alias;
        src: url("../fonts/" + $name + ".woff") format("woff");
        font-weight: normal;
        font-style: normal;
    }
}
