$grey: #c6c3c3;
$black: #000000;
$light-grey: #f8f8f8;
$almost-black: #999999;
$orange: #ff9700;
$pink: #f61b69;
$white: #ffffff;
$light-orange: #f9c77e;
$blue: #26C8D4;
$border: linear-gradient(-78deg, rgba(166, 188, 240, 0.6) 0%, rgba(194, 212, 253, 0.6) 20%, rgba(255, 255, 255, 0.6) 100%);


//media

$mobile: 'screen and (max-width: 480px)';
$phone: 'screen and (max-width: 767px)';
$tablet: 'screen and (max-width: 991px)';
$desktop: 'screen and (max-width: 1199px)';
$large: 'screen and (max-width: 1599px)';
$fullHD: 'screen and (max-width: 1920px)';
