@font-face {
    font-family: 'Avnir Black';
    src: url('../fonts/Avenir-Black.woff') format('truetype');
}
@font-face {
    font-family: 'Avnir Light';
    src: url('../fonts/Avenir-Light.woff') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff') format('truetype');
}
@font-face {
    font-family: 'Adobe Caslon Pro';
    src: url('../fonts/ACaslonPro-Regular.woff') format('truetype');
}
