@font-face {
    font-family: 'Avnir Black';
    src: url('../fonts/AvenirBlack.otf') format('truetype');
}
@font-face {
    font-family: 'Avnir Light';
    src: url('../fonts/AvenirLight.otf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Adobe Caslon Pro';
    src: url('../fonts/AdobeCaslonProRegular.ttf') format('truetype');
}
