@font-face {
    font-family: 'Avnir Black';
    src: url('../fonts/avenir/AvenirBlack.otf') format('truetype');
}
@font-face {
    font-family: 'Avnir Light';
    src: url('../fonts/avenir/AvenirLight.otf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Adobe Caslon Pro';
    src: url('../fonts/adobe-caslon-pro/ACaslonPro-Regular.otf') format('truetype');
}
