---
title:
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{# variable example #}
	<h1>{{title}}</h1>


	{# partial example #}
	{% include "partials/_banner.html" %}
	{% include "partials/_brands-minimized.html" %}
	{% include "partials/_galleries.html" %}
	{% include "partials/_sign.html" %}
	{% include "partials/_shop.html" %}
	{% include "partials/_customize.html" %}
	{% include "partials/_sign2.html" %}
	{% include "partials/_mobile.html" %}
	{% include "partials/_brands.html" %}
	{% include "partials/_sign3.html" %}
	{% include "partials/_footer.html" %}


{% endblock %}
