<section class="banner">
  <div class="container">
  <header>
  <div class="container header-container">
    <div class="logo">
      <img src="img/logo.png" alt="" class="logo__im">
    </div>
    <div class="login">
      <button class="login__btn">Try It Out - It’s free</button>
      <a href="#" class="login__link">Log In</a>
    </div>
  </div>
  </header>
  <div class="info">
    <div class="info__txt text">
          <h1 class="text__title">Feature your best content <br> anywhere - <span class="text__title--bold">for free</span></h1>
          <button class="text__btn">Show me how</button>
        </div>
        <div class="info__img">
          <img src="img/13-layers.png" alt="">
        </div>
  </div>

  </div>
</section>
