<section class="banner">
  <div class="container bg-cont">
  {% include "partials/_header.html" %}
  <div class="logo banner-logo">
    <a href="#"><img src="img/logo.svg" alt="" class="logo__im"></a>
  </div>
  <div class="info">
    <div class="info__txt text">
          <h2 class="text__title title main">Feature your best content <br> anywhere - <span class="text__title--bold">for free</span></h2>
          <button class="text__btn">Show me how</button>
        </div>
        <div class="info__img">
          <img src="img/shop-insta.png" alt="">
        </div>
  </div>
  </div>
</section>
