<section class="brands">
	<div class="container">
		<div class="information">
			<span class="information__comment">what are you waiting for?</span>
			<h2 class="information__title">Join thousands of brands using Snappic</h2>
			<span class="information__line"></span>
			<div class="brand-img">
				<div class="brand-img__row">
					<div class="brand-img__col"><img src="img/logo-meadowlark-300.png" alt=""></div>
					<div class="brand-img__col" style="margin-top: -10px;"><img src="img/apolis-logo.png" alt=""></div>
					<div class="brand-img__col" style="margin-top: 13px;"><img src="img/screenshot-2018-02-21-17-20-35.png" alt=""></div>
					<div class="brand-img__col" style="margin-top: -5px;"><img src="img/minkpink-logo-logotype.png" alt=""></div>
					<div class="brand-img__col" style="margin-top: 19px;"><img src="img/pl-logo (1).png" alt=""></div>
				</div>
				<div class="brand-img__row">
					<div class="brand-img__col" style="margin-top: 20px;"><img src="img/317449logo.png" alt=""></div>
					<div class="brand-img__col" style="margin-top: -17px;"><img src="img/paul-valentine-logo.png" alt=""></div>
					<div class="brand-img__col"><img src="img/logo (1).png" alt=""></div>
					<div class="brand-img__col" style="margin-top: 17px;"><img src="img/logo-home.png" alt=""></div>
					<div class="brand-img__col" style="margin-top: 14px;"><img src="img/logo (2).png" alt=""></div>
				</div>
				<div class="brand-img__row">
					<div class="brand-img__col" style="margin-top: 14px;"><img src="img/logo-home (1).png" alt=""></div>
					<div class="brand-img__col" style="margin-top: 22px;"><img src="img/screenshot-2018-02-21-17-26-29.png" alt=""></div>
					<div class="brand-img__col" style="margin-top: 14px;"><img src="img/logo (3).png" alt=""></div>
					<div class="brand-img__col"><img src="img/palm.png" alt=""></div>
					<div class="brand-img__col" style="margin-top: 23px;"><img src="img/blog-logo-1.png" alt=""></div>
				</div>
				<div class="brand-img__row">
					<div class="brand-img__col"><img src="img/lakai-logo.png" alt=""></div>
					<div class="brand-img__col" style="margin-top: 13px;"><img src="img/milkyway.png" alt=""></div>
					<div class="brand-img__col"><img src="img/logo (4).png" alt=""></div>
					<div class="brand-img__col" style="margin-top: 10px;"><img src="img/logo-nav.png" alt=""></div>
					<div class="brand-img__col" style="margin-top: 9px;"><img src="img/logo (5).png" alt=""></div>
				</div>
			</div>
		</div>
	</div>
</section>
