<section class="customize">
  <div class="container">
    <div class="custom__text txt">
      <span class="txt__comment">YOUR BRAND FIRST</span>
      <h2 class="txt__title">Customize with ease</h2>
    </div>
    <div class="wrapper">
      <div class="custom">
        <div class="custom__variant hover insta">
          <div class="hover__img">
            <img src="img/1.png" alt="">
          </div>
          <span class="hover__mask insta"></span>
          <div class="hover__toggle">
            <input type="checkbox" class="check">
            <input type="checkbox" class="check">
          </div>
        </div>
      </div>
      <div class="custom">
        <div class="custom__variant hover stl-black-border">
          <div class="hover__img">
            <img src="img/2.png" alt="">
          </div><span class="hover__mask stl-black-border"></span>
          <div class="hover__toggle">
            <input type="checkbox" class="check">
            <input type="checkbox" class="check">
          </div>
        </div>
      </div>
      <div class="custom">
        <div class="custom__variant hover stl">
          <div class="hover__img">
            <img src="img/3.png" alt="">
          </div>
          <span class="hover__mask stl"></span>
          <div class="hover__toggle">
            <input type="checkbox" class="check">
            <input type="checkbox" class="check">
          </div>
        </div>
      </div>
      <div class="custom">
        <div class="custom__variant hover stl-black-bg">
          <div class="hover__img">
            <img src="img/4.png" alt="">
          </div>
          <span class="hover__mask stl-black-bg"></span>
          <div class="hover__toggle">
            <input type="checkbox" class="check">
            <input type="checkbox" class="check">
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
