<section class="customize">
  <div class="container">
    <div class="custom__text txt">
      <span class="txt__comment comment">YOUR BRAND FIRST</span>
      <h2 class="txt__title title">Customize with ease</h2>
    </div>
    <div class="wrapper">
      <div class="custom black">
        <div class="custom__variant hover insta">
          <div class="hover__img">
            <img src="img/1.png" alt="">
          </div>
          <span class="hover__mask">
            <a href="#" class="hover__link in"></a>
          </span>
          <div class="hover__toggle">
            <div>
                <input id="radio-1" class="radio-custom radio-js black" name="radio-group-1" type="radio" checked>
                <label for="radio-1" class="radio-custom-label black"></label>
            </div>
            <div>
                <input id="radio-2" class="radio-custom radio-js" name="radio-group-1" type="radio" >
                <label for="radio-2" class="radio-custom-label"></label>
            </div>
          </div>
        </div>
      </div>
      <div class="custom">
        <div class="custom__variant hover stl-black-border">
          <div class="hover__img">
            <img src="img/2.png" alt="">
            <span class="hover__mask mask-border">
              <a href="#" class="hover__link border">SHOP THE LOOK</a>
            </span>
            <div class="hover__toggle" style="padding-top: 16px;">
              <div>
                  <input id="radio-3" class="radio-custom radio-js black" name="radio-group-2" type="radio">
                  <label for="radio-3" class="radio-custom-label black"></label>
              </div>
              <div>
                  <input id="radio-4" class="radio-custom radio-js" name="radio-group-2" type="radio" checked>
                  <label for="radio-4" class="radio-custom-label"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="custom">
        <div class="custom__variant hover stl">
          <div class="hover__img">
            <img src="img/3.png" alt="">
          </div>
          <span class="hover__mask mask-bold">
            <a href="#" class="hover__link bold">SHOP THE LOOK</a>
          </span>
           <div class="hover__toggle" style="padding-top: 14px;">
              <div>
                  <input id="radio-5" class="radio-custom radio-js black" name="radio-group-3" type="radio">
                  <label for="radio-5" class="radio-custom-label black"></label>
              </div>
              <div>
                  <input id="radio-6" class="radio-custom radio-js" name="radio-group-3" type="radio" checked>
                  <label for="radio-6" class="radio-custom-label"></label>
              </div>
            </div>
        </div>
      </div>
      <div class="custom">
        <div class="custom__variant hover stl-black-bg">
          <div class="hover__img">
            <img src="img/4.png" alt="">
          </div>
          <span class="hover__mask mask-bg">
            <a href="#" class="hover__link bg link-bg">SHOP THE LOOK</a>
          </span>
           <div class="hover__toggle">
              <div>
                  <input id="radio-7" class="radio-custom radio-js black" name="radio-group-4" type="radio">
                  <label for="radio-7" class="radio-custom-label black"></label>
              </div>
              <div>
                  <input id="radio-8" class="radio-custom radio-js" name="radio-group-4" type="radio" checked>
                  <label for="radio-8" class="radio-custom-label"></label>
              </div>
            </div>
        </div>
    </div>

  </div>
</section>
