<section class="examples">
  <div class="ex-description">
    <span class="ex-description__comment">YOU HAVE OPTIONS</span>
    <h2 class="ex-description__title">More Examples</h2>
  </div>

  <div class="layout-control" id="lay_control"></div>

  <div class="layout-1" id="layout">
    <div class="img"><img src="img/ex1.jpg" alt=""></div>
    <div class="img"><img src="img/ex2.jpg" alt=""></div>
    <div class="img"><img src="img/ex3.jpg" alt=""></div>
    <div class="img"><img src="img/ex4.jpg" alt=""></div>
    <div class="img"><img src="img/ex5.jpg" alt=""></div>
    <div class="img"><img src="img/ex6.jpg" alt=""></div>
    <div class="img"><img src="img/ex7.jpg" alt=""></div>
    <div class="img"><img src="img/ex8.jpeg" alt=""></div>
    <div class="img"><img src="img/ex9.jpg" alt=""></div>
    <div class="img"><img src="img/ex10.jpg" alt=""></div>
  </div>
</section>
