<footer>
	<div class="container">
		<div class="links">
			<div class="links__logo">
				<img src="img/fill-14.png" alt="">
			</div>
			<ul class="links__list">
				<li><a href="#">contact</a></li>
				<li><a href="">support</a></li>
				<li><a href="">pricing</a></li>
				<li><a href="">results</a></li>
				<li><a href="">terms of service</a></li>
			</ul>
		</div>
		<div class="rights">
			<span class="copyright">Copyright © 2016, Snappic Incorporated. All right reserved. </span>
			<span class="author">created by <img src="img/7-layers.png" alt=""> in sunny los angeles</span>
		</div>
	</div>
</footer>
