<section class="galleries">
  <div class="container">
    <div class="wrap">
      <div class="wrap__text description">
        <span class="description__comment">INSPIRE</span>
        <h2 class="description__title">Beautiful galleries that stand out </h2>
        <p class="description__desc">Inspire your shoppers by featuring your best Instagram <br> content anywhere in your website.  </p>
        <div class="description__list list">
          <span class="list__icon"><img src="img/shape1.png" alt=""></span>
          <h3 class="list__title">More engagement. More purchases.</h3>
          <p class="list__desc">Customers naturally engage more when they see your <br> products in a lifestyle setting. That means that they end <br> up shopping more and making more purchases.</p>
        </div>
        <div class="description__list list">
          <span class="list__icon"><img src="img/app-window.png" alt=""></span>
          <h3 class="list__title">Place it anywhere</h3>
          <p class="list__desc">Our galleries are incredibly easy to customize and can <br> be connected to any page of your website in minutes. </p>
        </div>
      </div>
      <div class="wrap__examples">
        <button class="wrap__btn">MORE EXAMPLES</button>
        <div class="slider">
          <div>
            <div class="example1">

              <div class="example1__row">
                <div class="example1__col">
                  <img src="img/slide1.png" alt="">
                  <span class="example1__mask"><a href="#" class="example1__link">SHOP THE LOOK</a></span>
                </div>
                <div class="example1__col">
                  <img src="img/slide2.png" alt="">
                  <span class="example1__mask"><a href="#" class="example1__link">SHOP THE LOOK</a></span>
                </div>
                <div class="example1__col">
                  <img src="img/slide3.png" alt="">
                  <span class="example1__mask"><a href="#" class="example1__link">SHOP THE LOOK</a></span>
                </div>
              </div>
              <div class="example1__row">
                <div class="example1__col">
                  <img src="img/slide4.png" alt="">
                  <span class="example1__mask"><a href="#" class="example1__link">SHOP THE LOOK</a></span>
                </div>
                <div class="example1__col">
                  <img src="img/slide5.png" alt="">
                  <span class="example1__mask"><a href="#" class="example1__link">SHOP THE LOOK</a></span>
                </div>
                <div class="example1__col">
                  <img src="img/slide6.png" alt="">
                  <span class="example1__mask"><a href="#" class="example1__link">SHOP THE LOOK</a></span>
                </div>
              </div>
            </div>
          </div>
          <div>
          <div class="example2">
            <button class="example2__btn"><img src="img/shop-our-instagram.png" alt=""></button>
            <div class="example2__img">
              <div class="photos">
                <div class="photos__item">
                  <img src="img/slide7.png" alt="">
                  <span class="photos__mask">
                    <a href="#" class="photos__link">SHOP THE LOOK</a>
                  </span>
                 </div>
                <div class="photos__item">
                  <img src="img/slide8.png" alt="">
                  <span class="photos__mask">
                    <a href="#" class="photos__link">SHOP THE LOOK</a>
                  </span>
                 </div>
                <div class="photos__item">
                  <img src="img/slide9.png" alt="">
                  <span class="photos__mask">
                     <a href="#" class="photos__link">SHOP THE LOOK</a>
                   </span></div>
                <div class="photos__item">
                  <img src="img/slide10.png" alt="">
                  <span class="photos__mask">
                    <a href="#" class="photos__link">SHOP THE LOOK</a>
                  </span>
                 </div>
              </div>
              <div class="photos">
                <div class="photos__item">
                  <img src="img/slide11.png" alt="">
                  <span class="photos__mask">
                    <a href="#" class="photos__link">SHOP THE LOOK</a>
                  </span>
                 </div>
              </div>
              <div class="photos">
                <div class="photos__item">
                  <img src="img/slide12.png" alt="">
                  <span class="photos__mask">
                    <a href="#" class="photos__link">SHOP THE LOOK</a>
                  </span>
                </div>
                <div class="photos__item">
                  <img src="img/slide13.png" alt="">
                  <span class="photos__mask">
                    <a href="#" class="photos__link">SHOP THE LOOK</a>
                  </span>
                </div>
                <div class="photos__item">
                  <img src="img/slide14.png" alt="">
                  <span class="photos__mask">
                    <a href="#" class="photos__link">SHOP THE LOOK</a>
                  </span>
                </div>
                <div class="photos__item">
                  <img src="img/slide15.png" alt="">
                  <span class="photos__mask">
                    <a href="#" class="photos__link">SHOP THE LOOK</a>
                  </span>
                </div>
              </div>
            </div>
          </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
