<section class="galleries">
  <div class="container">
    <div class="wrap">
      <div class="wrap__text description">
        <span class="description__comment">INSPIRE</span>
        <h2 class="description__title">Beautiful galleries that stand out </h2>
        <p class="description__desc">Inspire your shoppers by featuring your best Instagram <br> content anywhere in your website.  </p>
        <div class="description__list list">

          <h3 class="list__title">More engagement. More purchases.</h3>
          <p class="list__desc">Customers naturally engage more when they see your <br> products in a lifestyle setting. That means that they end <br> up shopping more and making more purchases.</p>
        </div>
        <div class="description__list list">
          <h3 class="list__title">Place it anywhere</h3>
          <p class="list__desc">Our galleries are incredibly easy to customize and can <br> be connected to any page of your website in minutes. </p>
        </div>
      </div>

    </div>
  </div>
</section>
