<section class="galleries">
  <div class="container">
    <div class="wrap">
      <div class="wrap__text description">
        <span class="description__comment comment">INSPIRE</span>
        <h2 class="description__title title">Beautiful galleries that stand out </h2>
        <p class="description__desc">Inspire your shoppers by featuring your best Instagram content anywhere in your website.  </p>
        <div class="description__list list">
          <span class="list__icon"><img src="img/circle-shopping.png" alt=""></span>
          <h3 class="list__title list-title">More engagement. More purchases.</h3>
          <p class="list__desc">Customers naturally engage more when they see your products in a lifestyle setting. That means that they end up shopping more and making more purchases.</p>
        </div>
        <div class="description__list list">
          <span class="list__icon"><img src="img/circle-app.png" alt=""></span>
          <h3 class="list__title list-title">Place it anywhere</h3>
          <p class="list__desc">Our galleries are incredibly easy to customize and can be connected to any page of your website in minutes. </p>
        </div>
      </div>
      <div class="wrap__examples">
        <button class="wrap__btn scroll-down" id="scroll_down">Show me more examples</button>
        <div>
          <div>
            <div class="example1">

              <div class="example1__row">
                <div class="example1__col">
                  <img src="img/slide1.png" alt="">
                  <span class="example1__mask"><a href="#" class="example1__link">SHOP THE LOOK</a></span>
                </div>
                <div class="example1__col">
                  <img src="img/slide2.png" alt="">
                  <span class="example1__mask"><a href="#" class="example1__link">SHOP THE LOOK</a></span>
                </div>
                <div class="example1__col">
                  <img src="img/slide3.png" alt="">
                  <span class="example1__mask"><a href="#" class="example1__link">SHOP THE LOOK</a></span>
                </div>
              </div>
              <div class="example1__row">
                <div class="example1__col">
                  <img src="img/slide4.png" alt="">
                  <span class="example1__mask"><a href="#" class="example1__link">SHOP THE LOOK</a></span>
                </div>
                <div class="example1__col">
                  <img src="img/slide5.png" alt="">
                  <span class="example1__mask"><a href="#" class="example1__link">SHOP THE LOOK</a></span>
                </div>
                <div class="example1__col">
                  <img src="img/slide6.png" alt="">
                  <span class="example1__mask"><a href="#" class="example1__link">SHOP THE LOOK</a></span>
                </div>
              </div>
            </div>
          </div>
          <div>
          </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
