<section class="mobile">
  <div class="container">
    <div class="wrap-mob">
      <div class="wrap-mob__text description-mob">
        <span class="description-mob__comment">FRIENDLY DESIGN</span>
        <h2 class="description-mob__title">Mobile Optimized</h2>
        <p class="description-mob__desc">Our galleries will adapt also to your mobile <br> optimized website. Let your customers discover <br> products and shop directly from their phones.</p>
      </div>
      <div class="wrap-mob__img">
        <img src="img/illustration2.png" alt="">
      </div>
    </div>
  </div>
</section>
