<section class="shop">
     <div class="wrap">
        <div class="wrap__img">
          <img src="img/illustration.png" alt="">
        </div>
        <div class="wrap__text description">
          <span class="description__comment">INCREASE REVENUE</span>
          <h2 class="description__title">Shop every picture</h2>
          <p class="description__desc">Customers can discover and shop the products featured in your Instagram posts.</p>
          <div class="description__list list">
            <span class="list__icon">{{ mixins.icon('full-cart')}}</span>
            <h3 class="list__title">Drive more sales</h3>
            <p class="list__desc">Never miss out on a purchase with our multi-product tagging feature that lets your customers shop entire <br> looks and outfits.</p>
          </div>
        </div>
        </div>
</section>
