<section class="sign3">
  <div class="container">
    <div class="sign-up">
      <h2 class="sign-up__title">Snappic is free to use for as long as you want</h2>
      <span class="sign-up__comment">free forever. set up in minutes. no credit card required</span>
      <button class="sign-up__btn">Sign Up with Instagram </button>
      <div class="sign-up__available">
        <span>Available for </span>
        <div><img src="img/group.png" alt=""></div>
        <div><img src="img/group2.png" alt=""></div>
        <div><img src="img/group3.png" alt=""></div>
      </div>
    </div>
  </div>
</section>
