.brands-minimized {
    background-color: $light-grey;
    padding-top: 38px;
    padding-bottom: 30px;
    @media #{$mobile} {
        display: none;
    }
}
.brand-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    @media #{$desktop} {
        padding: 0 17px;
    }
    @media #{$phone} {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    div {
        @media #{$tablet} {
            padding-right: 20px;
            &:last-child {
                padding-right: 0;
            }
        }
        @media #{$phone} {
            width: 100%;
            text-align: center;
            padding-bottom: 30px;
            padding-left: 20px;
            &:last-child {
                padding-bottom: 0;
            }
        }
        img {
            @media #{$tablet} {
                width: 80%;
            }
            @media #{$phone} {
                width: auto;
            }
        }
    }

}
