.brands {
	padding-top: 20px;
    padding-bottom: 20px;
	//border: 20px solid $border;
    background-image: linear-gradient(78deg, rgba(166, 188, 240, 0.6) 0%, rgba(194, 212, 253, 0.6) 20%, rgba(255, 255, 255, 0.6) 130%);
	text-align: center;
    @media #{$mobile} {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
.information {
    padding-top: 100px;
    padding-bottom: 64px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: $white;
    @media #{$tablet} {
        padding-top: 60px;
    }
    @media #{$mobile} {
        margin-left: 12px;
        margin-right: 12px;
    }
	&__comment {
        color: $almost-black;
        font-family: 'Avenir Heavy', sans-serif;
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 2.45px;
        @media #{$desktop} {
            font-size: 12px;
        }
	}
	&__title {
        padding-top: 22px;
        font-family: 'Adobe Caslon Pro', sans-serif;
        font-size: 46px;
        font-weight: 400;
        line-height: 56px;
        letter-spacing: -0.69px;
        @media #{$desktop} {
            font-size: 44px;
        }
    }
    &__line {
    	margin-top: 42px;
    	display: inline-block;
    	content: '';
    	width: 26px;
    	height: 7px;
    	background-color: $light-orange;
    	transform: rotate(-16deg);
        @media #{$tablet} {
            margin-top: 30px;
        }
    }
    .brand-img {
        padding: 53px 230px;
        @media #{$desktop} {
            padding: 78px 30px;
        }
        @media #{$tablet} {
            padding: 26px 0;
        }
		&__row {
			width: 100%;
			display: flex;
            flex-wrap: wrap;
            align-items: center;
            vertival-align: baseline;
            @media #{$phone} {
                flex-wrap: wrap;
            }
		}
		&__col {
			width: 20%;
            padding-bottom: 36px;
            img {
                @media #{$mobile} {

                }
            }
            &:nth-child(4) {
                margin-top: -20px;
            }
            &:nth-child(5) {
                img {
                    width: 90%;
                }
            }
            &:nth-child(19) {
                margin-top: 8px;
            }
            @media #{$tablet} {
                width: 20%;
            }
            @media #{$mobile} {
                width: 50%;
            }
		}
    }
}
