header {
    background: transparent;
    position: relative;
    z-index: 20;
}
.container {
    @media #{$desktop} {
        padding: 0 20px;
    }
}
.header-container {
    display: flex;
    justify-content: space-between;
    @media #{$desktop} {
        padding: 0 20px;
    }
}
.logo {
    padding-top: 17px;
    img {
        @media #{$phone} {
            width: 100%;
        }
    }
}
.login {
    @media #{$phone} {
        padding-top: 5px;
        display: flex;
        align-items: center;
    }
    &__btn {
        position: relative;
        border-radius: 115px;
        border: 1px solid $grey;
        background-color: transparent;
        font-size: 11px;
        font-family: 'Avenir Black', sans-serif;
        font-weight: 900;
        letter-spacing: 0.5px;
        color: $black;
        padding: 17px 26px;
        margin-right: 42px;
        overflow: hidden;
        transition: 0.4s ease;
        z-index: 1;
        @media #{$tablet} {
            padding: 14px 19px;
        }
        @media #{$phone} {
            margin-right: 10px;
            font-size: 9px;
            padding: 14px 10px;
        }
        &:before {
            background: $blue;
            transition: 0.3s ease;
            content: '';
            position: absolute;
            z-index: -1;
        }
        &:before {
            top: 0;
            right: 100%;
            bottom: 0;
            left: 0;
        }
        &:hover {
            color: $white;
            &:before {
                right: 0;
            }
        }

    }
    &__link {
        display: inline-block;
        font-size: 12px;
        font-family: 'Avenir Black', sans-serif;
        font-weight: 900;
        letter-spacing: 0.5px;
        color: $black;
        text-decoration: none;
        margin-right: 7px;
        padding-bottom: 2px;
        @media #{$phone} {
            margin-right: 0;
            font-size: 9px;
        }
       &:after {
            display: block;
            content: '';
            width: 0;
            height: 2px;
            bottom: 0;
            background-color: $black;
            transform: scaleX(0);
            transition: all .3s ease-in-out;
            transform-origin: 0 50%;
        }
        &:hover {
            &:after {
                width: 100%;
                transform: scaleX(1);
            }
        }

    }
}

