.mobile {
    padding-top: 165px;
    padding-bottom: 124px;
    overflow: hidden;
    @media #{$desktop} {
        padding-top: 64px;
        padding-bottom: 0;
    }
}
.bg-mob {
    position: relative;
    &:before {
        position: absolute;
        content: '';
        width: 1241px;
        height: 883px;
        top: 16%;
        left: 37.3%;
        background-image: url("../img/gradient-bg4.png");
        background-repeat: no-repeat;
        background-origin: border-box;
        z-index: -1;
    }
}
.wrap-mob {
    //background-image: url("../img/gradient-bg4.png");
    background-repeat: no-repeat;
    background-position-x: 292%;
    @media #{$desktop} {
        background-position-x: 0;
        padding-bottom: 140px;
    }
    @media #{$tablet} {
        padding-bottom: 55px;
    }
    @media #{$phone} {
        display: flex;
        flex-direction: column;
        background-size: 100%;
    }
	&__text {
        padding-top: 269px;
        padding-left: 130px;
        @media #{$desktop} {
            padding-top: 0;
            width: 50%;
        }
        @media #{$tablet} {
            padding-left: 20px;
        }
        @media #{$phone} {
            width: 100%;
            order: 2;
        }
	}
	&__img {
        padding-left: 92px;
        padding-top: 71px;
        @media #{$desktop} {
            padding-top: 0;
            width: 50%;
            order: 1;
        }
        @media #{$phone} {
            width: 100%;
            margin-left: 0;
        }
        img {
            @media #{$desktop} {
                width: 100%;
            }
        }
	}
}
.description-mob {
    &__comment {
        @media #{$desktop} {
            font-size: 12px;
        }
    }
    &__title {
        @media #{$desktop} {
            font-size: 44px;
        }
    }
    &__desc {
        letter-spacing: .9px;
        @media #{$desktop} {
            font-size: 15px;
            padding-top: 0;
        }
    }
}
