.shop {
    background-image: url("../img/gradient-bg2.png");
    background-repeat: no-repeat;
    background-position: 311% -288%;
    padding-top: 138px;
    @media #{$tablet} {
        padding-top: 44px;
    }
    .wrap{
        @media #{$tablet} {
            display: flex;
            flex-direction: row;
        }
        @media #{$phone} {
            flex-direction: column;
        }
        &__text {
            padding-left: 40px;
            padding-top: 100px;
            @media #{$desktop} {
                padding-left: 0;
                padding-top: 50px;
            }
            @media #{$tablet} {
                width: 50%;
                padding-left: 28px;
            }
            @media #{$phone} {
                width: 100%;
                padding-top: 40px;
            }
            .description__desc {
                padding-right: 122px;
                @media #{$mobile} {
                    padding-right: 10px;
                }
            }
            .list__desc {
                padding-right: 31px;
                @media #{$mobile} {
                    padding-right: 10px;
                    padding-top: 18px;
                }
            }
        }
        &__img {
            margin-left: -62px;
            @media #{$tablet} {
                width: 50%;
            }
            @media #{$phone} {
                width: 100%;
            }
            img {
                @media #{$desktop} {
                    width: 100%;
                }
                @media #{$phone} {
                    width: 100%;
                }
            }
        }
    }
}
.wrap-mob {
    display: flex;
    &__text {

    }
    &__img {
        margin-left: -62px;
    }
}
.description-mob {
    padding-left: 10px;
    &__comment {
        color: $almost-black;
        font-family: 'Avenir Heavy', sans-serif;
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 2.45px;
    }
    &__title {
        padding-top: 27px;
        font-family: 'Adobe Caslon Pro', sans-serif;
        font-size: 46px;
        font-weight: 400;
        line-height: 56px;
        letter-spacing: -0.69px;
    }
    &__desc {
        padding-top: 24px;
        color: $almost-black;
        font-family: 'Avenir Medium', sans-serif;
        font-size: 19px;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0.65px;
    }
    &__list {

    }
}

