.banner {
    padding-top: 37px;
    padding-bottom: 34px;
    background-image: url("../img/gradient-bg.png");
    background-repeat: no-repeat;
    background-position: 297% 7%;
}
.info {
    padding-top: 61px;
    display: flex;
    &__img {
        position: relative;
        padding-left: 86px;
        &:before {
            position: absolute;
            content: '';
            width: 86px;
            height: 86px;
            background-image: url("../img/approved-ig-logo.png");
            top: 77px;
            left: 47px;
        }
    }
}
.text {
    padding-top: 116px;
    padding-left: 11px;
    &__title {
        font-family: 'Adobe Caslon Pro', sans-serif;
        font-size: 46px;
        font-weight: 400;
        line-height: 52px;
        letter-spacing: -0.69px;
        &--bold {
            font-weight: 700;
        }
    }
    &__btn {
        position: relative;
        border-radius: 115px;
        border: 1px solid $grey;
        background-color: transparent;
        font-size: 12px;
        font-family: 'Avenir Black', sans-serif;
        font-weight: 900;
        letter-spacing: 0.5px;
        color: $black;
        margin-top: 34px;
        text-align: center;
        padding: 20px 64px;
        //&:before {
        //    content: '';
        //    position: absolute;
        //    top: 0;
        //    left: 0;
        //    width: 100%;
        //    height: 100%;
        //    transform: translateX(-110%) skew(-45deg);
        //    transition: transform .4s;
        //    background: $blue;
        //    border-radius: 115px;
        //    z-index: -2;
        //}
        //&:hover {
        //    border-color: $blue;
        //    color: #FFF;
        //    transition-delay: .0s, .4s;
        //    &:before {
        //        transform: translateX(0) skew(0);
        //    }
        //}
    }
}


