.banner {
    padding-top: 37px;
    padding-bottom: 34px;
    background-image: url("../img/gradient-bg.png");
    background-repeat: no-repeat;
    background-position: 297% 7%;
}
.info {
    padding-top: 61px;
    display: flex;
    &__img {
        position: relative;
        padding-left: 86px;
        @media #{$desktop} {
            padding-left: 0;
        }
        img {
            @media #{$desktop} {
                width: 100%;
            }
        }
        &:before {
            position: absolute;
            content: '';
            width: 86px;
            height: 86px;
            background-image: url("../img/approved-ig-logo.png");
            top: 77px;
            left: 47px;
            @media #{$desktop} {
                width: 86px;
                height: 86px;
                top: 61px;
                left: -14px;
            }
        }
    }
}
.text {
    padding-top: 116px;
    padding-left: 11px;
    @media #{$desktop} {
        width: 60%;
    }
    &__title {
        font-family: 'Adobe Caslon Pro', sans-serif;
        font-size: 46px;
        font-weight: 400;
        line-height: 52px;
        letter-spacing: -0.69px;
        &--bold {
            font-weight: 700;
        }
    }
    &__btn {
        position: relative;
        border-radius: 115px;
        border: 1px solid $grey;
        background-color: transparent;
        font-size: 12px;
        font-family: 'Avenir Black', sans-serif;
        font-weight: 900;
        letter-spacing: 0.5px;
        color: $black;
        margin-top: 34px;
        text-align: center;
        padding: 20px 64px;
        overflow: hidden;
        transition: 0.4s ease;
        z-index: 1;
        &:before {
            border-radius: 115px;
            background: $blue;
            transition: 0.3s ease;
            content: '';
            position: absolute;
            z-index: -1;
        }
        &:before {
            top: 0;
            right: 100%;
            bottom: 0;
            left: 0;
        }
        &:hover {
            color: $white;
            &:before {
                right: 0;
            }
        }
    }
}


