.banner {
    padding-top: 62px;
    padding-bottom: 34px;
    background-image: url("../img/gradient-bg.png");
    background-repeat: no-repeat;
}
.info {
    display: flex;
    &__img {
        position: relative;
        padding-left: 86px;
        &:before {
            position: absolute;
            content: '';
            width: 86px;
            height: 86px;
            background-image: url("..img/approved-ig-logo.png");
            top: 0;
            left: 0;
        }
    }
}
.text {
    padding-top: 116px;
    padding-left: 11px;
    &__title {
        font-family: 'Adobe Caslon Pro', sans-serif;
        font-size: 46px;
        font-weight: 400;
        line-height: 52px;
        letter-spacing: -0.69px;
        &--bold {
            font-weight: 700;
        }
    }
    &__btn {
        border-radius: 115px;
        border: 1px solid $grey;
        background-color: transparent;
        font-size: 12px;
        font-family: 'Avenir Black', sans-serif;
        font-weight: 900;
        letter-spacing: 0.5px;
        color: $black;
        margin-top: 34px;
        text-align: center;
        padding: 20px 64px;
    }
}


