.brands-minimized {
    background-color: $light-grey;
    padding-top: 38px;
    padding-bottom: 30px;
}
.brand-images {
    display: flex;
    justify-content: space-between;
    padding: 0 44px;
}
