.galleries {
    padding-top: 131px;
    padding-bottom: 142px;
}
.wrap {
    display: flex;
    &__text {
        width: 50%;
    }
    &__examples {
        width: 50%;
        padding-top: 32px;
    }
}
.description {
    padding-left: 10px;
    &__comment {
        color: $almost-black;
        font-family: 'Avenir Black', sans-serif;
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 2.45px;
    }
    &__title {
        padding-top: 27px;
        font-family: 'Adobe Caslon Pro', sans-serif;
        font-size: 46px;
        font-weight: 400;
        line-height: 56px;
        letter-spacing: -0.69px;
    }
    &__desc {
        padding-top: 24px;
        color: $almost-black;
        font-family: 'Avenir Black', sans-serif;
        font-size: 19px;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0.8px;
    }
    &__list {

    }
}
.list {
    padding-top: 33px;
    padding-left: 60px;
    position: relative;
    &__title {
        color: $orange;
        font-family: 'Avenir Black', sans-serif;
        font-size: 19px;
        font-weight: 900;
        letter-spacing: -1.15px;
    }
    &__desc {
        padding-top: 9px;
        color: $almost-black;
        font-family: 'Avenir Black', sans-serif;
        font-size: 19px;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: .85px;
    }
    &__icon {
        position: absolute;
        width: 45px;
        top: 24px;
        left: 0;
        height: 45px;
        border-radius: 50%;
        background-color: rgba(255, 245, 232, 0.7);
        background-repeat: no-repeat;
        text-align: center;
        line-height: 50px;
    }
}

.example1 {
    padding-left: 82px;
    &__row {
        width: 100%;
        display: flex;
        padding-top: 15px;
    }
    &__col {
        width: 33.3%;
        position: relative;
        &:hover {
            .example1__mask {
                display: block;
            }
        }
    }
    &__btn {
        margin: 0 auto;
        color: $black;
        font-family: 'Avenir Black', sans-serif;
        font-size: 12px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 1.71px;
        border-radius: 21px;
        background-color: $light-grey;
        padding: 14px 29px;
    }
    &__mask {
        display: none;
        position: absolute;
        width: 80%;
        height: 85%;
        background-color: rgba(255, 255, 255, 0.7);
        top: 12px;
        left: 12px;
        text-align: center;
    }
    &__link {
        display: inline-block;
        margin-top: 74px;
        color: $black;
        font-family: 'Montserrat', sans-serif;
        font-size: 9px;
        font-weight: 700;
        line-height: 0.4px;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
.ex {
    padding-left: 82px;
    &__row {
        width: 100%;
        display: flex;
        padding-top: 15px;
    }
    &__col {
        width: 33.3%;
        position: relative;
        &:hover {
            .example1__mask {
                display: block;
            }
        }
    }
    &__btn {
        margin: 0 auto;
        color: $black;
        font-family: 'Avenir Black', sans-serif;
        font-size: 12px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 1.71px;
        border-radius: 21px;
        background-color: transparent;
        padding: 14px 29px;
    }
    &__mask {
        display: none;
        position: absolute;
        width: 80%;
        height: 85%;
        background-color: rgba(255, 255, 255, 0.7);
        top: 12px;
        left: 12px;
        text-align: center;
    }
    &__link {
        display: inline-block;
        margin-top: 74px;
        color: $black;
        font-family: 'Montserrat', sans-serif;
        font-size: 9px;
        font-weight: 700;
        line-height: 0.4px;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
.col {
    width: 50%;
}


