.icon-app-window {
  width: 1.13em;
  height: 1em;
  fill: #F28F00;
}
.icon-big-shopping {
  width: 0.89em;
  height: 1em;
  fill: #F28F00;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-full-cart {
  width: 0.89em;
  height: 1em;
  fill: #F28F00;
}
