.icon-altolabs {
  width: 10em;
  height: 1em;
  fill: #000;
}
.icon-app-window {
  width: 1.13em;
  height: 1em;
  fill: #F28F00;
}
.icon-big-shopping {
  width: 0.89em;
  height: 1em;
  fill: #F28F00;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-full-cart {
  width: 0.89em;
  height: 1em;
  fill: #F28F00;
}
.icon-logo {
  width: 6.3em;
  height: 1em;
  fill: none;
}
.icon-place {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-s {
  width: 0.69em;
  height: 1em;
  fill: #FFF;
}
